*{
    box-sizing: border-box;
}

body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans;
    margin: 0;
}
section{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:first-child{
    background-color:#aaa;
}
section:nth-child(2){
    background-color:#bbb;
}
section:nth-child(3){
    background-color:#ccc;
}
section:last-of-type{
    background-color:#ddd;
}
.progress{
    position: relative;
    width:500px;
    height: 30px;
    background-color:white;
    margin:10px;
}
.progress span{
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    background-color:salmon;
    transition: width 0.3s linear;
}

.nums{
    display:flex;
    width:400px;
}
.nums .num {
flex: 1;
text-align:center;
font-size:40px;
padding:20px
}